<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/css.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <title>The Battleship Game</title>
</head>

<body>
  <div id="main-container">
    <div class="notifications-container">
      <div class="notification info info-place">
        <div class="notification-message">Place the ships.</div>
      </div>
      <div class="notification start-turn none">
        <div class="notification-message">The game started, your turn.</div>
      </div>
      <div class="notification turn none">
        <div class="notification-message">
          Opponent missed. Your turn!
        </div>
      </div>
      <div class="notification info wait-opponent none">
        <div class="notification-message">
          Please, wait the opponent turn.
        </div>
      </div>
      <div class="notification info opponent-again none">
        <div class="notification-message">
          Opponent hit your ship. His turn again!
        </div>
      </div>
        <div class="notification info your-again none">
          <div class="notification-message">
            You hit the opponent ship. Your turn again!
          </div>
      </div>
      <div class="notification warning lose none">
        <div class="notification-message">
          Game over, you lose!
          <a href="" class="button replay">Replay</a>
        </div>
      </div>
      <div class="notification win none">
        <div class="notification-message">
          Game over, you win!
          <a href="" class="button replay">Replay</a>
        </div>
      </div>
    </div>
    <div class="game-container">
      <div class="leftsquare">
          <div class="instruction">Drag the ships and click to rotate</div>
        <div class="placeholder">
          <table class="battlefield">
            <tbody>
            </tbody>
          </table>
        </div>
    </div>
      <div class="rightsquare">
        <div class="placeholder">
          <table class="battlefield wait">
            <tbody>
            </tbody>
          </table>
          <div class="start">
              <p>Press these buttons to start</p>
              <div class="button play">Play with Bot</div>
              <div class="button play-bot">Play with Friend</div>
          </div>
        </div>
      </div>
    </div>
    <div id="bottom-container">
      <div class="settings">
        <fieldset>
          <legend>Settings</legend>
          <div class="settings-container">
            <div id="randomise-button"><p>Randomise</p><img src="{{ url_for('static', filename='random.svg')}}"></img></div>
            <div id="reset-button"><p>Reset</p><img src="{{ url_for('static', filename='table.svg')}}"></img></div>
            <div id="mark-checkbox" check="1"><p>Mark empty cells</p><img src="{{ url_for('static', filename='pencil.svg')}}"></div>
            <div id="delay-checkbox" check="1"><p>Delay between opponent shots</p><img src="{{ url_for('static', filename='clock.svg')}}"></div>
            <div id="ships-checkbox" check="0"><p>Show opponent ships</p><img src="{{ url_for('static', filename='eye.svg')}}"></div>
          </div>
        </fieldset>
      </div>
      <div class="chat">
        <fieldset>
          <legend>Chat</legend>
          <div class="chat-container">
            <ul class="chat-messages">
              <li class="chat-message"><span class="self-message">You</span><span>Hello</span></li>
              <li class="chat-message"><span class="opponent-message">Opponent</span><span>Hi. This chat works well!</span></li>
              <li class="chat-message"><span class="opponent-message">You</span><span>Yea, nice)</span></li>
            </ul>
            <div class="chat-bottom">
              <input type="text" placeholder="Enter a message">
              <button class="button chat-button">Send</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</body>
<script src="{{ url_for('static', filename='js/js.js') }}"></script>
</html>